// @import "another.scss";

$color: blue;

h1 {
    color: $color;
}

h2 {
    color: $color;
}

@mixin soft-border($border-radius) {
    border: 1px solid #ccc;
    border-radius: $border-radius;
    padding: 10px;
}
.box {
    @include soft-border(5px);
}
.modern-box {
    @include soft-border(10px);
}

// start Creating a Custom Theme
@import "~@angular/material/_theming.scss";

@include mat-core();

$app-primary: mat-palette($mat-blue,600);
$app-accent: mat-palette($mat-yellow,700);
$app-warn: mat-palette($mat-red);

// use mat-light-theme or mat-dark-theme
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($app-theme);